@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	list-style: none;
}

a{
	text-decoration: none;
}

#menu-mobile, #close-menu{
	display: none;
}

/*HEADER*/

.cabecalho{
	width: 100%;
	padding: 0 5%;
	border-bottom: 4px solid #2193b0;
	display: flex;
	align-items: center;
}

.logo{
	width: 90px;
	float: left;
}

.menu{
	width: 95%;
	float: left;
}

.menu li {
	display: inline-block;
}

.menu li a{
	padding: 10px;
	color: #000;
}

.menu .link-live{
	color: red;
	font-weight: bold;
}

.menu li a:hover{
	color: #2193b0;
}

.search-box{
	position: absolute;
	top: 4.5%;
	right: 5%;
}

.search-box input{
	width: 0px;
	height: 40px;
	padding: 0 0;
	border-radius: 50px;
	border: 0;
	padding-left: 40px; 
	transition: 1.5s;
}

.search-box input:focus{
	width: 300px;
	padding-left: 20px;
}

.search-box:before{
	font-family: 'FontAwesome';
	position: absolute;
	right: 15px;
	line-height: 40px;
	color: #006990;
}

#search-btn{
	cursor: pointer;
}

/*MAIN*/

.highlight{
	width: 100%;
	padding: 20px 4%;
	background-color: #000;
	display: flex;
	justify-content: space-between;
}

.description{
	padding: 0 10px;
}

.highlight span{
	text-transform: uppercase;
	color: #d7d7d7;
	font-size: .8rem;
	border-bottom: 1px solid #d7d7d7;
}

.highlight h1{
	font-size: 2rem;
	color: #fff;
	line-height: 40px;
	padding:10px 0;
}

.highlight p{
	color: #fff;
	font-size: 1.2rem;
}

/*BANNER*/

.banner{
	padding: 3rem;
	display: flex;
	justify-content: center;
}

.banner img{
	width: 100%;
	height: 13rem;
}

/*NEWS*/

.container{
	padding: 3%;
	display: flex;
}

.title{
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #00008B;
	color: #fff;
	width: 9rem;
	padding: 0 .5rem;
	text-align: center;
}

.title-section{
	border-bottom: 4px solid #00008b;
	margin: 0 4% 0 4%;
}

.news img{
	width: 200px;
	cursor: pointer;
}

.news h2{
	font-size: 1.2rem;
}

.news p{
	font-size: .9rem;
}

.news button{
	padding: 0 1rem;
	border: none;
	background-color: #00008b;
	color: #fff;
	float: right;
	cursor: pointer;
}

.news{
	display: flex;
	flex-wrap: wrap;
	max-width: 900px;
}

.news > div{
	margin: 10px; 
}

/*NEWS SHORT*/

.news-short{
	background-color: #f9f9f9;
	width: 275px;
	padding: 1rem;
}

.news-short > div{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.news-short img{
	width: 90px;
}

.news-short h2{
	font-size: .9rem;
	font-weight: 200;
}









